.container__class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  margin-top: 0.5em;
}

.form__class {
  border: 0.25em solid rgba(232, 236, 241, 1);
  padding: 2em;
  background-color: rgba(232, 236, 241, 0.7);
}
